# This is the pip requirements file for running PyInstaller.
# If you want to run the test you will also need to install what is
# defined in tests/requirements-tools.txt and for extensive testing
# also tests/requirements-libraries.txt.

## IMPORTANT: Keep aligned with setup.cfg

setuptools~=44.1.1
altgraph~=0.17.2
pyinstaller-hooks-contrib >= 2021.4
pefile; sys_platform == 'win32'
pywin32-ctypes; sys_platform == 'win32'
macholib; sys_platform == 'darwin'
importlib-metadata ; python_version < '3.8'

## IMPORTANT: Keep aligned with setup.cfg

pyinstaller~=5.1
pytest~=4.6.11
py~=1.10.0
pathlib2~=2.3.6
requests~=2.26.0
wheel~=0.37.0